writers: 
  - !console
    format: "${source.label} ${metric} ${value} ${ts}"
 
  - !graphite
    host: 172.0.0.1
    port: 2003
    format: "${source.label}.${metric} ${value} ${ts}"
        
sources:
  - !jvm
    host  : 172.0.0.1
    port  : 9001
    metrics:
      - Memory
      - MemoryPools
      - GC
      - Threading
      - System
      
executorThreadPoolSize: 2
